h1{
    text-align: center;
}
h2{
    text-align: center;
    font-size: 28px;
}
.cardElement{
    width: 65%;
    border: 3px solid #ccc;
    border-radius: 15px;
    margin: auto;
    padding: 4px;
    background-color: white;
}
.cardContent {
    padding: 10px;
  }
  .cardText {
    margin:auto;
  }
  body{
      background-color:lightcyan;
  }
  button{
   display: block;   
    width: 20%;
    margin: auto;
  }
  input{
    display: block;   
    width: 100%;
  }